@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --crimson: crimson;
    --light-crimson: #fbd0d9;
    --black: #130f40;
    --light-color: #666;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --light-colour: rgb(255, 255, 255);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
    --border: .1rem solid rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    padding-bottom: 2rem;
    text-align: bottom;
    font-size: 4.5rem;
    color: var(--black);
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--light-crimson);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--light-crimson);
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    background: var(--crimson);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    z-index: 1000;
    background: #fff;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
}

.header .logo span {
    color: var(--crimson);
}

.header .navbar ul {
    display: flex;
    list-style: none;
}

.h .header .navbar ul li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--black);
}

.header .navbar ul li a {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--crimson);
    text-decoration: underline;
}

#login-btn .btn {
    margin-top: 0;
    margin-left: 90%;
}

#login-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

#register-btn .btn {
    margin-top: 0;
    margin-right: 155%;
}

#register-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

#logout-btn .btn {
    margin-top: 0;
    margin-right: 155%;
}

#logout-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

#print-btn .btn {
    margin-top: 0;
    margin-right: 155%;
}

#print-btn i {
    display: none;
    font-size: 2.5rem;
    color: var(--light-color);
}

.header.active {
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--light-color);
    display: none;

}

.home {
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3 {
    color: var(--black);
    font-size: 3.0vw;
    text-transform: uppercase;
}

.home img {
    width: 100%;
    margin: 1rem 0;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
}

.icons-container .icons {
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    gap: 1.5rem;
}

.icons-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    color: var(--black);
    background: #eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3 {
    font-size: 2.5rem;
    color: var(--crimson);
}

.icons-container .icons .content {
    font-size: 1.5rem;
    color: var(--light-color);
}

.icons-container .icons:hover {
    background: var(--black);
}

.icons-container .icons:hover i {
    background: var(--crimson);
}

.icons-container .icons:hover .content h3 {
    color: #fff;
}

.icons-container .icons:hover .content p {
    color: #eee;
}

.newsletter {
    padding: 6rem 2rem;

    background-image: url("../img/letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 650px 250px;
    text-align: center;
}

.newsletter h3 {
    font-size: 3rem;
    color: var(--black);
}

.newsletter p {
    font-size: 1.5rem;
    color: var(--light-colour);
    padding: 1rem 0;
}

.newsletter form {
    max-width: 60rem;
    height: 5rem;
    background: #fff;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
}

.newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.newsletter form input[type="submit"] {
    height: 100%;
    width: 17rem;
    font-size: 1.7rem;
    color: var(--black);
    background: var(--light-crimson);
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
    background: var(--crimson);
}

.vehicles .vehicles-slider {
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box {
    text-align: center;
}

.vehicles .vehicles-slider .box img {
    width: 100%;
    transform: scale(.8);
    opacity: 0.5;
}

.vehicles .vehicles-slider .box .content {
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content {
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img {
    transform: scale(1);
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.vehicles .vehicles-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--crimson);
    padding: 1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span {
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p {
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span {
    font-size: 1rem;
    color: var(--crimson);
    padding: 0 .5rem;
}

.swiper-pagination-bullet-active {
    background: var(--crimson);
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
}

.services .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.services .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.services .box-container .box p {
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-color);
}

.services .box-container .box:hover {
    background: var(--black);
}

.services .box-container .box:hover h3 {
    color: #fff;
}

.services .box-container .box:hover p {
    color: #eee;
}


.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .map {
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.contact .row form {
    padding: 2rem;
    flex: 1 1 42rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    border-radius: .5rem;
}

.contact .row form h3 {
    font-size: 3rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.contact .row form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border: var(--border);
    margin: .7rem 0;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer {
    padding-bottom: 8rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 0;
    color: var(--light-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--black);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider {
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box {
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.featured .featured-slider .box img {
    height: 15rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .stars {
    padding: 1rem 0;
}

.featured .featured-slider .box .content .stars i {
    font-size: 1.7rem;
    color: var(--crimson);
}

.featured .featured-slider .box .content .price {
    font-size: 2.5rem;
    color: var(--black);
}

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
 }
 
 .about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
 }
 .about .image{
    flex:1 1 41rem;
 }
 .about .image img{
    width: 100%;
 }
 .about .content{
    flex:1 1 41rem;
    text-align: center;
 }
 .about .content h3{
    font-size: 3rem;
    color:var(--black);
 }
 .about .content  h3 span{
    color: var(--crimson);
 }
 .about .content p{
    font-size: 1.5rem;
    color:var(--light-black);
    line-height: 2;
    padding:1rem 0;
 }
 .about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: flex-end;
 }
 .about .content .icons-container .icons{
    background: var(--light-bg);
    padding:2rem;
    flex:1 1 16rem;
 }
 
 .about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color:var(--crimson);
 }
 
 .about .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--light-black);
    display:block;
 }
 .reviews .review-slider{
    padding-bottom: 3rem;
}
.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
}
.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}
.reviews .review-slider .box .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
}

.reviews .review-slider .box .content h3{
    color:var(--black);
    font-size: 2.2rem;
    padding-bottom: .5rem;
}

.reviews .review-slider .box .content .stars i{
    color:var(--black);
    font-size: 1.7rem;
}
.reviews .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}
.Check-form-container{
    position: fixed;
    top:0%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}
.Check-form-container.active{
    top:0;
}
.Check-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.Check-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}
.Check-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.Check-form-container #close-Check-form{
    position: absolute;
    top:0%; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}
.Check-form-container   .input {
  background:var(--light-crimson);;
  padding: 20px 20px 40px 20px;
} 
.Check-form-container form .btn{
    display: inline-block;
    width: 132px;;
    margin:4% ;
}
.mb-3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.paybox{
    text-align: left;
    padding: 1rem;
    width: 36rem;
    border-radius: 0.5rem;
    /* box-shadow: var(--box-shadow); */
    border: var(--border);
    background: #fff;
    font-size: 1.6rem;
}

.bookings{
    margin : 80px auto;
}
table{
    margin: 9rem;
    padding: 4rem;
    padding-right: 30rem !important;
}
th{
    font-size: 14px;
    text-align: left;
    padding: 14px;
    color: white;
    background-color: crimson;
    font-weight: normal;

}
td{
    text-align: center;
    font-size: medium;
}
.right img{
    width: 35px;
    margin-left: -1px;
}
.flashes{
    background-color:#fbd0d9;
    padding: 20px 20px;
    min-width: 420px;
    position: absolute;
    right:0px;
    bottom:75%;
    border-radius: 4px;
 
 
 }
 .flashes .msg{
    padding: 0 117px;
    font-size: 15px;
    color: crimson;
 }
 .flashe{
    background-color:lightgreen;
    padding: 20px 20px;
    min-width: 420px;
    position: absolute;
    right:0px;
    bottom:75%;
    border-radius: 4px;
 
 
 }
 .flashe .msg{
    padding: 1px 94px;
    font-size: 18px;
    color: black;
 }
 .Check-form-container .close #close-Check-form{
    position: absolute;
    top:0%; left:38.5rem;;
    font-size: 2rem;
    color:var(--black);
    cursor: pointer;
}