<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Page</title>
   <link href="/static/css/design.css" rel="stylesheet" type="text/css">
   <style>

   </style>
</head>

<body>
   <div class="background">

   </div>
   <header class="header">

      <div id="menu-btn" class="fas fa-bars"></div>

      <a href="{{ url_for('home')}}" class="logo"> <span>Namma</span>Vehicles</a>
   </header>

   <div class="container">

      <div class="content">
         <h5>Hi, <span>Admin</span></h5>
         <h1>Welcome</h1>
         <a href="{{ url_for('adminlogin')}}" class="btn">login</a>
      </div>

   </div>

</body>

</html>