<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vehicles</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="/static/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">


        <a href="{{ url_for('userlogin')}}" class="logo"> <span>Namma</span>Vehicles</a>

        <nav class="navbar">
            <Ul>
                <Li><a href="{{ url_for('userlogin')}}">home</a></Li>
                <Li><a href="{{ url_for('vehicles')}}">vehicles</a></Li>
                <Li><a href="{{ url_for('featured')}}">featured</a></Li>
                <Li><a href="{{ url_for('services')}}">services</a></Li>
                <Li><a href="{{ url_for('reviews')}}">reviews</a></Li>
                <Li><a href="{{ url_for('aboutus')}}">about</a></Li>
                <Li><a href="{{ url_for('contact')}}">contact</a></Li>
                <Li><a href="{{ url_for('checkout_json_data')}}">Bookings</a></Li>
            </Ul>
        </nav>
        <div id="logout-btn">
            <a href="{{ url_for('logout')}}">
                <button id="logout" class="btn">logout</button></a>
        </div>
        <div class="right">
            <img src="/static/img/profile.png" alt="">
            <div>
                <h3>{{logged_in_user}}</h3>
            </div>
        </div>
    </header>

    <section class="vehicles" id="vehicles">

        <div>
            <h1 class="heading"> 4+1  <span>seaters</span> </h1>
        </div>

        <div class="swiper vehicles-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-1.png" alt="">
                    <div class="content">
                        <h3>Mahindra Thar</h3>
                        <div class="price"> <span>price : </span> ₹15,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> Diesel
                            <span class="fas fa-circle"></span> Rack & Pinion Hydraulic Power Steering
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-2.png" alt="">
                    <div class="content">
                        <h3>Maruti Alto 800</h3>
                        <div class="price"> <span>price : </span> ₹12,000/- </div>
                        <p>
                            new
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> CNG engine
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 796cc 
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-3.png" alt="">
                    <div class="content">
                        <h3>Force Motors Gurkha</h3>
                        <div class="price"> <span>price : </span> ₹20,000/- </div>
                        <p>
                            3200rpm
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span>  Manual
                            <span class="fas fa-circle"></span>  Diesel
                            <span class="fas fa-circle"></span> 2596 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-4.png" alt="">
                    <div class="content">
                        <h3>Maruti Alto 800 tour</h3>
                        <div class="price"> <span>price : </span> ₹ 14,000/- </div>
                        <p>
                            6000rpm
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> Manual
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 796 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-5.png" alt="">
                    <div class="content">
                        <h3>Maruti Swift</h3>
                        <div class="price"> <span>price : </span>₹10,000/- </div>
                        <p>
                            6000rpm
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 1197 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-6.png" alt="">
                    <div class="content">
                        <h3>Maruti Baleno</h3>
                        <div class="price"> <span>price : </span> ₹12,500/- </div>
                        <p>
                            6000rpm
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> petrol
                            <span class="fas fa-circle"></span> 1197 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>
    <section class="vehicles" id="vehicles">

        <h1 class="heading"> 7+1 <span>seaters</span> </h1>

        <div class="swiper vehicles-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-7.png" alt="">
                    <div class="content">
                        <h3>Mahindra Scorpio-N</h3>
                        <div class="price"> <span>price : </span> ₹12,500/- </div>
                        <p>
                            16.5 kmpl
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> Manual
                            <span class="fas fa-circle"></span> Diesel
                            <span class="fas fa-circle"></span> 2184 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-8.png" alt="">
                    <div class="content">
                        <h3>Mahindra XUV700</h3>
                        <div class="price"> <span>price : </span> ₹62,000/- </div>
                        <p>
                            13.38 kmpl
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> automatic
                            <span class="fas fa-circle"></span> Diesel
                            <span class="fas fa-circle"></span> 2184 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="/static/img/vehicle-9.png" alt="">
                    <div class="content">
                        <h3>Innova</h3>
                        <div class="price"> <span>price : </span> ₹62,000/- </div>
                        <p>
                            4000rpm
                            <span class="fas fa-circle"></span> 2022
                            <span class="fas fa-circle"></span> Manual
                            <span class="fas fa-circle"></span>  Diesel
                            <span class="fas fa-circle"></span> 2694 cc
                        </p>
                        <a href="{{ url_for('vehiclescheckout')}}" class="btn">check out</a>
                    </div>
                </div>

                

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>
    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>our location</h3>
                <a href="{{params['mysore_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i> Mysore Road
                </a>
                <a href="{{params['Koramangala_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i>
                    Koramangala </a>
                <a href="{{params['Yeswanthpur_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i>
                    Yeswanthpur </a>
                <a href="{{params['Kalasipalya_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i>
                    Kalasipalya </a>
                <a href="{{params['Majestic_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i> Majestic
                </a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="{{ url_for('userlogin')}}"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="{{ url_for('vehicles')}}"> <i class="fas fa-arrow-right"></i> vehicles </a>
                <a href="{{ url_for('featured')}}"> <i class="fas fa-arrow-right"></i> featured </a>
                <a href="{{ url_for('services')}}"> <i class="fas fa-arrow-right"></i> services </a>
                <a href="{{ url_for('reviews')}}"> <i class="fas fa-arrow-right"></i> reviews </a>
                <a href="{{ url_for('aboutus')}}"> <i class="fas fa-arrow-right"></i>About </a>
                <a href="{{ url_for('contact')}}"> <i class="fas fa-arrow-right"></i> contact </a>
                <a href="{{ url_for('checkout_json_data')}}"> <i class="fas fa-arrow-right"></i>Bookings </a>
            </div>

            <div class="box">
                <h3>Customer Support</h3>
                <a href="#"> <i class="fas fa-phone"></i> +85490-84770 </a>
                <a href="#"> <i class="fas fa-phone"></i> +96202-11275 </a>
                <a href="mailto:Nammavehicles@gmail.com"> <i class="fas fa-envelope"></i> Nammavehicles@gmail.com </a>
                <a href="{{params['Bangalore_url']}}" target="_blank"> <i class="fas fa-map-marker-alt"></i> Bangalore india - 560040 </a>
            </div>

            <div class="box">
                <h3>Explore Us</h3>
                <a href="{{params['fb_url']}}" target="_blank"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="{{params['tw_url']}}" target="_blank"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="{{params['in_url']}}" target="_blank"> <i class="fab fa-instagram"></i> instagram </a>
            </div>

        </div>

        <div class="credit"> created by Nithin and Akanksha </div>

    </section>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script>var swiper = new Swiper(".vehicles-slider", {
            grabCursor: true,
            centeredSlides: true,
            spaceBetween: 20,
            loop: true,
            autoplay: {
                delay: 9500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                1024: {
                    slidesPerView: 3,
                },
            },
        });</script>
</body>

</html>